<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Group 5 Ballot dApp</h1>
  <div class="col-lg-6 mx-auto">
    <div *ngIf="!wallet">
        <p class="lead mb-4">Choose your connection method</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        
          <button disable type="button" class="btn btn-primary btn-lg px-4 gap-3" (click)="createWallet()">Create a Wallet</button>
          <button type="button" class="btn btn-secondary btn-lg px-4 gap-3" (click)="connectWallet()">Connect a Wallet</button>
        </div>
    </div>

    <div *ngIf="wallet">
      <p class="lead mb-4"> This is your address: {{walletAddress}}</p>
      <p class="lead mb-4"> Token Contract Address: {{tokenContractAddress}}</p>
      <p>Latest Block #{{latestBlock}} on {{network}}</p>
      <div class="card p-2 m-2"> Eth balance: {{etherBalance}}</div>
      <div class="card p-2 m-2"> Voting Power balance: {{votePower}}</div>
      <div class="card p-2 m-2"> Token balance: {{tokenBalance}}</div>
      
      <div class="container">
        <div class="row">
          <div class="col-sm">
            Proposal 1: {{proposal1}}
          </div>
          <div class="col-sm">
            Proposal 2: {{proposal2}}
          </div>
          <div class="col-sm">
            Proposal 3: {{proposal3}}
          </div>
        </div>
      </div>

 

      <p>Vote:</p>
      <span>Proposal ID</span>
      <input #proposalId class="input-group-number" min="0" [max]="2" placeholder="0"> <br>  
      <span >Vote Amount</span>
      <input #voteAmount class="input-group-number" min="0" [max]="voteAmount" placeholder="0"> <br>

      <button (click)="vote(proposalId.value, voteAmount.value)" type="button" class="btn btn-info btn-sm px-4 mx-2" >Vote</button>
      <br><br>

      <p>Delegate Votes:</p>
      <span>Delegate Votes To Address:</span>
      <input #delegateId class="input-group-string" placeholder="0x00000000000"> <br>  
      <button (click)="delegateVotes(delegateId.value)" type="button" class="btn btn-info btn-sm px-4 mx-2" >Delegate Votes</button>

    
    </div>
  </div>
  </div>
